<h1><%= current_user.username %>'s Artists:</h1>

<%= link_to "Create New Artist", new_artist_path %>

<ul>
    <% @artists.each do |artist| %>
        <li>
            Name: <%= link_to artist.name, artist_performances_path(artist) %>
        </li>
        <li>
            Genre: <%= artist.genre %>
        </li>
        <li>
            Performances: <%= artist.performances.count %>
        <br><br>
    <%end%>
</ul>
