<h2>All the Stages</h2>
<%= link_to "Large Stages", stages_large_path%>
<%= link_to "Small Stages", stages_small_path%>
<%= link_to "Create New Stage", new_stage_path%>

<ul>
    <% @stages.each do |stage| %>
        <li>
        <p> Stage: <%= stage.name %></p>
        </li>
        <li>
        <p> Capacity: <%= stage.capacity%> </p>
        </li>
        <br>
    <%end%>
</ul>
