<h1> New Stage </h1>

<%= render partial: '/errors', locals: { record: @stage } %>

<%= form_for(@stage) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :capacity %>
    <%= f.text_field :capacity %>
    <%= f.submit %>
    <% end %>